/demos/
/audio/
jellyfish_unity_builds/
/reaper/
/webcam_track/cmake*/
/webcamtrack_mediapipe/venv/
/webcamtrack_mediapipe/__pycache__/
webcam_track_exe

sc/audio/guitarHarmonics.wav
sc/audio/guitarScrape.wav
sc/audio/waterDrops.wav

sc/audio/cache/guitarHarmonics/audioBuffer.wav
sc/audio/cache/guitarHarmonics/audiocache

sc/audio/cache/guitarScrape/audioBuffer.wav
sc/audio/cache/guitarScrape/audiocache

sc/audio/cache/waterDrops/audioBuffer.wav
sc/audio/cache/waterDrops/audiocache
